.app-wrapper {
  width: 100%;
}

.nav {
  background-color: blue;
  width: 20%;
  padding: 20px;
}

.main__wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  min-height: 400px;
}

.main__img {
  width: 800px;
  margin: 0 auto;
}

.link {
  color: white;
  text-decoration: none;
}


.bro {
  color: red;
}
