.app-wrapper {
  width: 100%;
}

.header {
  background-color: red;
}

.nav{
  background-color: blue;
  width: 20%;
}

.content {
  background-color: green;
  width: 80%;
}

.main__wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.main__img {
  width: 800px;
  margin: 0 auto;
}
