.content {
    background-color: green;
    width: 80%;
  }

 .dialogs {
   display: grid;
   grid-template-columns: 2fr 10fr;
   padding: 10px;
 } 

 .dialogsItem {
   padding: 20px;
 }

 .messages {
   padding: 10px;
 }

 .dialogsItem .active {
   color: blue;
 }